@import url("https://fonts.google.com/specimen/Poppins");
:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --darkblue: hsl(249, 10%, 26%);
  --grayishblue: hsl(246, 25%, 77%);
  --family: "poppins", sans-serif;
  --font: 16px;
  --thin: 400;
  --small: 500;
  --medium: 600;
  --large: 700;
}
.top {
  width: 80%;
  height: 10%;
  color: white;
  text-align: center;
  margin: auto;
}
.top h2 {
  margin: 10px;
}
.top p {
  margin: 15px;
}
@media only screen and (min-width: 768px) {
  .top {
    width: 70%;
  }
  .top h2 {
    font-weight: var(--large);
    font-size: 40px;
    margin-left: -30px;
  }
  .top p {
    font-size: var(--font);
  }
}
